<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
</head>
<body>
    
    <div class="page-container">

        <h1 align="center">For Papa</h1>

        <div class="slideshow-container">
            <div class="image-container fade show">
                <img src="static_files/papa_fishing.jpg" alt="Papa Fishing"/>
            </div>
           
            <div class="image-container fade show">
                <img src="static_files/papa_beach.jpg" alt="Papa Beach"/>
            </div>
            
            <div class="image-container fade show">
              <img src="static_files/papa_catalina.jpg" alt="Papa Catalina"/>
            </div>
            
            <div class="image-container fade show">
              <img src="static_files/papa_ocean.jpg" alt="Papa Ocean"/>
            </div>

            <div class="image-container fade show">
              <img src="static_files/papa_oregon.jpg" alt="Papa Oregon"/>
            </div>
            
        </div>
       

        <div class="dedication-box">
            <p>Thanks for teaching me how to love the ocean.</p> 
            <p>Hope you're catching all the tuna up in Heaven!</p>
        </div>

        <div class="button" style="display: block; margin-bottom: 0; margin-right: 10px;">
            <div style="display: flex; justify-content: center; align-items: center; padding-top: 10px;">
                <a href="{{ url_for('index') }}">
                    <button class="submit">Back to Home</button>
                </a>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Madeline Smith. All rights reserved.</p>
            </div>
        </footer>

        <script>
            let slideIndex = 0; // Start with the first image
        
            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("fade");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) {
                    slideIndex = 1; // Reset to the first image
                }
                slides[slideIndex - 1].style.display = "block";
            }
        
            // Display the first image when the page loads
            document.addEventListener("DOMContentLoaded", function () {
                showSlides();
                setInterval(showSlides, 7000); 
            });
        </script>
        
    </div>
</body>
</html>