<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <h1 align = "center">Select Time Period<h1/>
    <div class="button" style="display: block; margin-bottom: 0; margin-right: 20px;">
        <div style="display: flex; justify-content: center; align-items: center; padding-top: 10px;">
          <a href=present><button class=grey>Present</button></a>
          <a href=future><button class=grey>Future</button></a>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
      <div style="text-align: center; margin-right: 20px;">
          <img src="{{ url_for('static', filename='papa_fishpredict_ded.jpg') }}" style="max-width: 100%;">
      </div>
      <div>
          <p>To Papa, I bet the fishing is way better up there!</p>
      </div>
  </div>
    <footer>
        <p>&copy; 2023 Madeline Smith. All rights reserved.</p>

      </footer>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="page-container">
        <h1 align="center">Welcome</h1>
        <div class="button" style="display: block; margin-bottom: 0; margin-right: 20px;">
            <div style="display: flex; justify-content: center; align-items: center; padding-top: 10px;">
                <a href=predict><button class=grey>Make a Prediction</button></a>
                <a href=dedication><button class=grey>Dedication</button></a>

            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <!--<img src="{{ url_for('static', filename='papa_fishpredict_ded.jpg') }}" alt="Your Photo Description">
            <p>To Papa, I bet the fishing is way better up there!</p>-->
            <p>&copy; 2024 Madeline Smith. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>


