<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Species</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="ocean">
        <div class="wave"></div>
    </div>
    <div class="page-container">
        <h1 align="center">Select Species</h1>
        <div class="button-container">
            <a href="cit_sor"><button class="submit">Pacific Sanddab (Citharichthys sordidus)</button></a>
            <a href="eng_mor"><button class="submit">Northern Anchovy (Engraulis mordax)</button></a>
            <a href="par_cal"><button class="submit">California Halibut (Paralichthys californicus)</button></a>
        </div>
        <div class="button-container">
            <a href="sco_jap"><button class="submit">Chub Mackerel (Scomber japonicus)</button></a>
            <a href="thu_ala"><button class="submit">Albacore Tuna (Thunnus alalunga)</button></a>
            <a href="xip_gla"><button class="submit">Pacific Swordfish (Xiphias gladius)</button></a>
        </div>
        <div class="button-container">
            <a href="cor_hip"><button class="submit">Dolphinfish (Coryphaena hippurus)</button></a>
            <a href="met_mag"><button class="submit">Dungeness Crab (Metacarcinus magister)</button></a>
            <a href="pan_pla"><button class="submit">Spot Prawn (Pandalus platyceros)</button></a>
        </div>
        <div class="button-container">
            <a href="pan_int"><button class="submit">Spiny Lobster (Panulirus interruptus)</button></a>
            <a href="thu_alb"><button class="submit">Yellowfin Tuna (Thunnus albacares)</button></a>
            <a href="tra_sym"><button class="submit">Jack Mackerel (Trachurus symmetricus)</button></a>
        </div>
        <div class="button-container">
            <a href="{{ url_for('index') }}"><button class="submit">Back to Home</button></a>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Madeline Smith. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
