<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1 align="center">Land Coordinates! Please Re-Enter Oceanic Coordinates</h1>
    <div class="button" style="display: block; margin-bottom: 0; margin-right: 20px;">
        <div style="display: flex; justify-content: center; align-items: left; padding-top: 10px;">
            <a href="{{ url_for('xip_gla_pred') }}">
                <button class="grey">Make New Prediction</button>
            </a>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Madeline Smith. All rights reserved.</p>
    </footer>
</body>
</html>
